
<div class="col-md-12 col-sm-12 col-xs-12">
                                <article class="service">
                                    <i class="fa fa-car"></i>
			<center><h1>Share your ride</h1></center>
<p>Carpooling (also known as car-sharing,ride-sharing and lift sharing), is the sharing of car journeys so that more than one person travels in a car. By having more one vehicle, carpooling reduces each person’s travels costs such as fuel costs, tolls, and the stress of driving. Carpooling is also seen as a more environmentally friendly and sustainable way to travel as sharing journeys reduces carbon emissions, traffic congestion on the roads, and the need for parking spaces. Authorities often encourage carpooling, especially during high pollution periods and high fuel prices. We intent on making an WEB based application that will enable to let people know if vehicles are available for carpool in chintech and they can sign in for it. This will enable people using this application to share expense, not worry about hiring a cab and making new connections. People can access the website on their cell phone and easily carpool with unacquainted people without worrying about security.</p>
                                </article><!-- end .service -->

                            </div><!-- end .col-md-4 -->
