<!DOCTYPE html>
<html lang="en">
<% include header %>
        <title>My ride</title>
<body style="background-image:url(img/back.jpg);data-img-width="1280" data-img-height="1200">
	<% include navbar %>
<section class="main-content">
		<div class="container">
<div class="col-md-12 col-sm-12 col-xs-12">
<article class="service">
<div class="col-sm-12 col-md-12 col-xs-12">

                        <div class="page-sub-title textcenter">
                            <h2>Share Your Ride</h2>
                            <div class="line"></div>
                        </div><!-- end .page-sub-title -->

                    </div><!-- end .col-lg-12 -->
<p>Carpooling (also known as car-sharing, ride-sharing and lift sharing), is the sharing of car journeys so that more than one person travels in a car. By having more one vehicle, carpooling reduces each person’s travels costs such as fuel costs, tolls, and the stress of driving. Carpooling is also seen as a more environmentally friendly and sustainable way to travel as sharing journeys reduces carbon emissions, traffic congestion on the roads, and the need for parking spaces. Authorities often encourage carpooling, especially during high pollution periods and high fuel prices. We intent on making a WEB based application that will enable to let people know if vehicles are available for carpool in chintech and they can sign in for it. This will enable people using this application to share expense, not worry about hiring a cab and making new connections. People can access the website on their cell phone and easily carpool with unacquainted people without worrying about security.</p>
                                </article><!-- end .service -->
	</div>
                            </div><!-- end .col-md-4 -->
		<hr>
</section>
		<% include footer %>
	<!-- Javascript -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <!-- Main jQuery -->
        <script type="text/javascript" src="js/jquery.main.js"></script>
        <!-- Form -->
        <script type="text/javascript" src="js/jquery.idealforms.min.js"></script>
        <script type="text/javascript" src="js/jquery.idealselect.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <!-- Menu -->
        <script type="text/javascript" src="js/hoverIntent.js"></script>
        <script type="text/javascript" src="js/superfish.js"></script>
        <!-- Counter-Up  -->
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
        <script type="text/javascript" src="js/jquery.counterup.min.js"></script>
        <!-- Rating  -->
        <script type="text/javascript" src="js/bootstrap-rating-input.min.js"></script>
        <!-- Slicknav  -->
        <script type="text/javascript" src="js/jquery.slicknav.min.js"></script>
</body>
</html>
