<!DOCTYPE HTML>
<div class="main-baner">
   <div class="main-header-container clearfix">
      <div class="col-md-4 col-sm-12 col-xs-12">
         <div class="logo">
             <h1>My ride</h1>
         </div><!-- end .logo -->
      </div><!-- end .col-sm-4 -->
      <div class="col-md-8 col-sm-8 col-xs-12">
          <nav id="nav" class="main-navigation">
              <ul class="navigation">
                 <li>
	  	   <li id="home"><a href="/">Home</a></li>
                 </li>
                 <li>
                   <li id="rides"><a href="/rides">Rides</a></li>
                 </li>
                 <li>
		   <li id="add_ride"><a href="/add_ride">New Ride</a></li>
                 </li>
                 <li>
		   <li id="register"><a href="/register">Register</a></li>
                 </li>
                 <li>
		   <li id="contact"><a href="/contact">Contact</a></li>
                 </li>
              </ul>
                                            </nav><!-- end .main-navigation -->

                                        </div><!-- end .col-md-8 -->

                                    </div><!-- end .main-header-container -->

                                </div><!-- end .row -->

                            </section><!-- end .container -->

                        </div><!-- end .second-parallax-content -->

                    </div><!-- end .main-parallax-content -->

                </div><!-- end .background .parallax -->

            </div><!-- end .main-baner -->

