<!DOCTYPE html>
<html lang="en">
<% include header %>
        <title>My Ride - Rides</title>
<body style="background-image:url(img/back.jpg);data-img-width="1280" data-img-height="850">
	<% include navbar %>
<section class="main-content">
            <div class="container">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="page-sub-title textcenter">
                            <h2>Offer a Ride</h2>
                            <div class="line"></div>
                        </div><!-- end .page-sub-title -->

                    </div><!-- end .col-md-12 col-sm-12 col-xs-12 -->


                            <div class="col-md-12 col-sm-12 col-xs-12">

                                <div class="search-content">

                                    <form action="" novalidate autocomplete="off" class="idealforms searchtours">

                                        <div class="row">

                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <div class="field">
                                                    <select id="destination" name="destination">
                                                        <option value="default">From</option>
                                                         <option>Chalakunn</option>
                                                        <option>Kannur</option>
                                                        <option>Thalassery</option>
                                                        <option>Koothuparamba</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-3 col-xs-12">

                                                <div class="field">
                                                    <select id="destination" name="destination">
                                                        <option value="default">To</option>
                                                        <option>Koothuparamba</option>
                                                        <option>Thalassery</option>
                                                         <option>Kannur</option>
                                                         <option>Chalakunn</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <div class="field">
                                                    <input name="event" type="text" placeholder="Date" class="datepicker">
                                                </div>


                                            </div>

                                            <div class="col-md-3 col-sm-3 col-xs-12">

                                                <div class="field">
                                                    <select id="destination" name="destination">
                                                        <option value="default">Number of seats</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                    </select>
                                                </div>

                                            </div>

                                            <div class="col-md-3 col-sm-3 col-xs-12">

                                                <div class="field buttons">
                                                    <button type="submit" class="btn btn-lg green-color">Search</button>
                                                </div>

                                            </div>

                                        </div>


                                    </form>
                                </div><!-- end .search-content -->

                            </div><!-- end .col-sm-12 -->

                        </div><!-- end .second-parallax-content -->

                    </div><!-- end .main-parallax-content -->

                </div><!-- end .background .parallax -->

            </div><!-- end .main-baner -->

        </header><!-- end .header -->

        <section class="main-content">

            <div class="container">
                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="page-sub-title textcenter">
                            <h2>Frequently Offered</h2>
                            <div class="line"></div>
                        </div><!-- end .page-sub-title -->

                    </div><!-- end .col-md-12 col-sm-12 col-xs-12 -->

                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="page-content">

                            <div class="rides-list">

                                <article class="ride-box clearfix">

                                    <div class="ride-content">
                                        <h3><a href="#">Kannur to Chalakunn</a></h3>
                                    </div>
                                </article><!-- end .ride-box -->

                                <article class="ride-box clearfix">

                                    <div class="ride-content">
                                        <h3><a href="#">Thalassery to Chalakunn</a>
                                    </div>
                                </article><!-- end .ride-box -->

                                <article class="ride-box clearfix">

                                    <div class="ride-content">
                                        <h3><a href="#">Kuthuparamba to Chalakunn</a></h3>
                                    </div>
                                </article><!-- end .ride-box -->
                                <article class="ride-box clearfix">

                                    <div class="ride-content">
                                        <h3><a href="#">Chalakunn to Kannur</a></h3>
                                    </div>
                                </article><!-- end .ride-box -->

                                <article class="ride-box clearfix">

                                    <div class="ride-content">
                                        <h3><a href="#">Chalakunn to Thalassery</a>
                                    </div>
                                </article><!-- end .ride-box -->

                                <article class="ride-box clearfix">

                                    <div class="ride-content">
                                        <h3><a href="#">Chalakunn to Kuthuparamba</a></h3>
                                    </div>
                                </article><!-- end .ride-box -->

                                

                            </div><!-- end .events-list -->

                        </div><!-- end .page-content -->

                    </div><!-- end .col-md-12 col-sm-12 col-xs-12 -->

                </div><!-- end .row -->
            </div><!-- end .container -->

        </section><!-- end .main-content -->

<% include footer %>
        <!-- Javascript -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <!-- Main jQuery -->
        <script type="text/javascript" src="js/jquery.main.js"></script>
        <!-- Form -->
        <script type="text/javascript" src="js/jquery.idealforms.min.js"></script>
        <script type="text/javascript" src="js/jquery.idealselect.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <!-- Menu -->
        <script type="text/javascript" src="js/hoverIntent.js"></script>
        <script type="text/javascript" src="js/superfish.js"></script>
        <!-- Counter-Up  -->
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
        <script type="text/javascript" src="js/jquery.counterup.min.js"></script>
        <!-- Rating  -->
        <script type="text/javascript" src="js/bootstrap-rating-input.min.js"></script>
        <!-- Slicknav  -->
        <script type="text/javascript" src="js/jquery.slicknav.min.js"></script>

    </body>
</html>
